<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/bookshibernatetest</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">1234</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL94Dialect</property>
        <property name="show_sql">true</property>


<!--        <property name="hibernate.enable_lazy_load_no_trans">true</property>-->


        <mapping class="ua.com.foxminded.booksapp.entity.Bookstore"/>
        <mapping class="ua.com.foxminded.booksapp.entity.Bookseller"/>
        <mapping class="ua.com.foxminded.booksapp.entity.Book"/>
        <mapping class="ua.com.foxminded.booksapp.entity.Author"/>


    </session-factory>
</hibernate-configuration>